{% extends "empty_page.html" %}

{% block content %}

<h1>Créer une nouvelle tâche</h1>

<form action="/tasks/new" method="post">

    <div class="form-group">
        <label for="task_name">Nom du livre</label>
        <input type="text" class="form-control" id="task_name"
               name="name" placeholder="Sortir le chien..." />
    </div>

    <div class="form-group">
        <label for="task_description">Description de la tâche</label>
        <input type="textarea" class="form-control" id="task_description"
               name="description" />
    </div>
    
    <div class="form-group">
        <label for="author">nom de l'autheur</label>
        <input type="textarea" class="form-control" id="Author"
               name="Author" />
    </div>


    <button type="submit" class="btn btn-success my-4">Créer la tâche</button>

</form>

<div>
    <a class="btn btn-outline-dark mx-2" href="/tasks/all">Retour</a>
</div>

{% endblock %}
