/*Style for the main books page*/
body {
    /* Styles globaux pour le corps de la page */
    padding: 6rem;
    font-family: Arial, Helvetica, sans-serif;
}

.book {
  width: 18rem;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 1rem;
  user-select: none;
}

.book:hover {
  background-color: lightblue;
}
.book-body{

  width:17rem;
  margin-left:1rem;
}

/* Styles pour le bouton "Créer un nouveau livre" */
.btn-create {
    border: 1px solid #000000; /* Bleu pastel */
    background-color: #000000; /* Bleu clair */
    color:rgb(106, 241, 15);
}

/* Styles pour le bouton "Supprimer" */
.btn-delete {
    border: 2px solid #c00013; /* Rouge pastel */
    background-color: #c00013; /* Rouge clair */
    color:#ffffff
}

