{% macro show_books(id,name, Author, Editor,owner,price,status) %}
    <tr>
        <td>{{id}}</td>
        
        <td>{{ name }}</td>
        
        <td>{{Author}}</td>

        <td>{{Editor}}</td>
        <td>{{owner}}</td>
        <td>{{price}}</td>
        <td>{{status}}</td>
    </tr>
{% endmacro %}

{% macro show_users(username,email, role, blocked) %}
    <tr>
        <td>{{username}}</td>
        
        <td>{{ email }}</td>
        
        <td>{{role}}</td>

        <td>{{blocked}}</td>
    </tr>
{% endmacro %}